@font-face {
    font-family: 'qikki_regregular';
    src: url('Qarmic_sans_Abridged-webfont.eot');
    src: url('Qarmic_sans_Abridged-webfont.eot?#iefix') format('embedded-opentype'),
         url('Qarmic_sans_Abridged-webfont.woff2') format('woff2'),
         url('Qarmic_sans_Abridged-webfont.woff') format('woff'),
         url('Qarmic_sans_Abridged-webfont.ttf') format('truetype'),
         url('Qarmic_sans_Abridged-webfont.svg#qikki_regregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

