@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

.clearfloat {
	font-size: 0px;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: none;
	height: 0px;
	width: 0px;
	border: 0px none;
	line-height: 0px;
}

@viewport {
	zoom: 1.0;
	width: device-width;
}

/*===FONTS EMBEDDING===*/
/*===WORLDER part of the logo===*/
@font-face {
    font-family: 'im_fell_french_canon_proRg';
    src: url('../fonts/imfellfrenchcanonpro_regular/FeFCrm27C-webfont.eot');
    src: url('../fonts/imfellfrenchcanonpro_regular/FeFCrm27C-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/imfellfrenchcanonpro_regular/FeFCrm27C-webfont.woff') format('woff'),
         url('../fonts/imfellfrenchcanonpro_regular/FeFCrm27C-webfont.ttf') format('truetype'),
         url('../fonts/imfellfrenchcanonpro_regular/FeFCrm27C-webfont.svg#im_fell_french_canon_proRg') format('svg');
    font-weight: normal;
    font-style: normal;
}/*===WORLDER part of the logo===*/

/*===LAND part of the logo===*/
@font-face {
    font-family: 'comic_reliefregular';
    src: url('../fonts/comic-relief/comicrelief_regular/ComicRelief-webfont.eot');
    src: url('../fonts/comic-relief/comicrelief_regular/ComicRelief-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/comic-relief/comicrelief_regular/ComicRelief-webfont.woff') format('woff'),
         url('../fonts/comic-relief/comicrelief_regular/ComicRelief-webfont.ttf') format('truetype'),
         url('../fonts/comic-relief/comicrelief_regular/ComicRelief-webfont.svg#comic_reliefregular') format('svg');
    font-weight: normal;
    font-style: normal;
}/*===LAND part of the logo===*/

/*===H2s, H3s, Nav and Paragraphs===*/
@font-face {
    font-family: 'qikki_regregular';
    src: url('../fonts/Qikki-Reg/qikkireg_regular/Qarmic_sans_Abridged-webfont.eot');
    src: url('../fonts/Qikki-Reg/qikkireg_regular/Qarmic_sans_Abridged-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Qikki-Reg/qikkireg_regular/Qarmic_sans_Abridged-webfont.woff') format('woff'),
         url('../fonts/Qikki-Reg/qikkireg_regular/Qarmic_sans_Abridged-webfont.ttf') format('truetype'),
         url('../fonts/Qikki-Reg/qikkireg_regular/Qarmic_sans_Abridged-webfont.svg#qikki_regregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'existencelight';
    src: url('../fonts/Existence-Light/existence_light/Existence-Light-webfont.eot');
    src: url('../fonts/Existence-Light/existence_light/Existence-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Existence-Light/existence_light/Existence-Light-webfont.woff') format('woff'),
         url('../fonts/Existence-Light/existence_light/Existence-Light-webfont.ttf') format('truetype'),
         url('../fonts/Existence-Light/existence_light/Existence-Light-webfont.svg#existencelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/open-sans/opensans_regular/OpenSans-Regular-webfont.eot');
    src: url('../fonts/open-sans/opensans_regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/opensans_regular/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/open-sans/opensans_regular/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/opensans_regular/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open-sans/opensans_light/OpenSans-Light-webfont.eot');
    src: url('../fonts/open-sans/opensans_light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/opensans_light/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/open-sans/opensans_light/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/opensans_light/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}/*===H2s, H3s and Paragraphs===*/

/*===GENERAL STYLES===*/
html, body {
	width: 100%;
}

h2 {
	padding: 2% 0;
	font-family: 'existencelight', sans-serif;
	font-size: 2em;
	font-weight: 300;
	text-transform: uppercase;
	color:  #3EACA8;
}

p {
	font-family: 'open_sanslight', sans-serif;
	font-size: 1em;
	text-align: justify;
}

.container {
	max-width: 1020px;
}
.center {
	margin: 0 auto;
}

.txt-center {
	text-align: center;
}
/*===END GENERAL STYLES===*/

/*===LOGO (H1) STYLES===*/
h1 {
	
	margin-top: -30px;
	padding: 20px 0;
	text-align: center;
	text-transform: lowercase;
	font-weight: 100;
	font-style: normal;
	font-size: 3em;
	letter-spacing: 2px;
}

h1 .worlder {
	font-family: 'im_fell_french_canon_proRg', serif;
}

h1 #land, #com {
	font-family: 'comic_reliefregular', sans-serif;
}

h1 #com {
	font-size: 0.4em;
}

h1 img {
	margin: 0 4px -25px -5px;
}

h1 span {
	color: #EAEAEB;
}

h1 a {
	text-decoration: none;
}

h1::first-letter {
	font-size: 175%;
}
/*===END LOGO (H1) STYLES===*/

/*===RESPONSIVE TOP NAV MENU===*/
/*hiding label and checkbox*/
input[type=checkbox], .show-menu{
	display:none;
}

#top-nav{
	width: 100%;
	color:#EAEAEB;
	background-color: #222222;
	font-family: 'qikki_regregular', sans-serif;
	text-transform: uppercase;
}

/*styling h1 in wrapper
.wrapper h1{
	padding:20px;
	text-align:center;
}*/

/*styling navigation*/
.navigation{
	display: flex;
	list-style-type: none;
}

/*styling list items->li in navigation*/
.navigation li{
	flex: 1;
	text-align: center;
	transition: all 0.5s ease;
}

/*giving border left to all list items, but not to our first list item
.navigation li:not(:first-child){
	border-left:2px solid #EAEAEB;
}*/

/*styling our anchor tag*/
.navigation li a, .show-submenu{
	display: block;
	padding: 20px 0;
	color: #EAEAEB;
	text-decoration: none;
}

.navigation li ul {
	display: none;
}

/*styling hover*/
.navigation li:hover{
	background-color: #33CC33;
	flex: 1.5;
}

/*For desktop showing the submenu only when the menu list is hovered*/
.navigation li:hover ul {
	display: block;
}

/*Underlining the anchor tags text when hovered*/
.navigation li:hover a {
	text-decoration: underline;
}

/*Styling the submenu anchor tags when the menu list is hovered*/
.navigation li:hover li a {
	background-color: #333333;
	text-decoration: none;
}

.navigation li li:hover a {
	background-color: #3EACA8;
	text-decoration: underline;
}
/*===END RESPONSIVE TOP NAV MENU===*/

/*===MAIN STYLES===*/

.home-pg {
	height: 97vh;
	background-image: url(../images/bckg.jpg);
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

/*===Contact page styles===*/
#contactForm fieldset {
	width: 100%;
	border: none;
}

.form-content {
	width: 80%;
}

.star {
	font-weight: bold;
	color: orange;
}

.form-content p {
	padding-bottom: 15px;
}

.form-field label, .form-field input, .form-field textarea, #submit {
	font-family: 'open_sanslight', sans-serif;
	font-size: 1em;
}

.form-field label {
	font-weight: bold;
}

.form-field input, .form-field textarea {
	width: 100%;
	margin: 10px 0px;
	padding: 10px; 
	-webkit-box-shadow: 0 0 1px 2px rgba(62,172,168,0.5);
	-moz-box-shadow: 0 0 1px 2px rgba(62,172,168,0.5);
	-ms-box-shadow: 0 0 1px 2px rgba(62,172,168,0.5);
	-o-box-shadow: 0 0 1px 2px rgba(62,172,168,0.5);
	box-shadow: 0 0 1px 2px rgba(62,172,168,0.5);
	border: 0;
}

.form-field textarea {
	height: 200px;
}

.error {
	-webkit-box-shadow: 0 0 1px 2px rgba(255,50,50,0.5);
	-moz-box-shadow: 0 0 1px 2px rgba(255,50,50,0.5);
	-ms-box-shadow: 0 0 1px 2px rgba(255,50,50,0.5);
	-o-box-shadow: 0 0 1px 2px rgba(255,50,50,0.5);
	box-shadow: 0 0 1px 2px rgba(255,50,50,0.5);
}

.form-field input, .form-field textarea {
	-webkit-appearance: none;
}

#submit{
	width: 125px;
	margin: 15px 0px;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #3EACA8;
	color: #EAEAEB;
	border-radius: 10px;
	border: 0;
}

#submit:hover {
	background-color: #33cc66;
	text-decoration: underline;
}
/*===END of Contact page styles===*/
/*===END MAIN STYLES===*/

/*===FOOTER STYLES===*/
footer {
	background-color: #222222;
}

#cop-rig {
	padding: 5px 0;
	font-size: 0.8em;
	color: #EAEAEB;
	text-align: center;
}
/*===END FOOTER STYLES===*/

/*STYLE FOR MOBILE*/
@media only screen and (max-width: 600px) {
	
	h1 {
		margin-top: -20px;
		font-size: 2em;
		letter-spacing: 1px;
	}

	h1 img {
		height: 40px;
		margin: 0 2px -15px -2px;
	}

	h1 span {
		color: #EAEAEB;
	}

	/*===RESPONSIVE MENU STYLES===*/
	#hamburger {
		font-size: 1.5em;
	}

	/*styling our show menu button*/
	.show-menu {
		background: #222222;;
		display: flex;
		cursor: pointer;
		padding: 20px 0;
		justify-content: center;
	}

	/*hiding our navigation*/
	.navigation, .navigation li:hover ul {
		display: none;
	}

	.navigation li:hover{
		background-color: #222222;
	}
	
	/*displaying our list items as block element; if checkbox is check*/
	input[type=checkbox]:checked ~ .navigation{
		display: block;
	}
	
	/*removing border left from the pseudo class*/
	.navigation li:not(:first-child){
		border: 0;
	}
	/*===RESPONSIVE MENU STYLES===*/
	
}/*END STYLES FOR MOBILE*/